<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	
	<!-- spring创建bean的三种方式： -->
	<!-- 1、方式一——通过反射创建bean -->
	<bean id="springTest1" class="com.asiainfo.p5.javaCore.reflect.SpringTest"></bean>
	
	<!-- 2、通过静态工厂创建bean -->
	<!-- 注意：这里的class属性的值不是要被创建bean的class，而是工厂类的class，factory-method属性值是静态方法的名称 -->
	<bean id="springTest2" class="com.asiainfo.p5.javaCore.reflect.BeanFactory" factory-method="getInstanceStatic"></bean>
	
	<!-- 3、通过实例工厂创建bean -->
	<!-- 注意：通过实例工厂创建bean就是通过工厂的实例方法来创建bean，既然是实例方法就必须首先要创建工厂的实例（如本例中的beanFactory），factory-method属性值是工厂的实例方法名 -->
	<bean id="beanFactory" class="com.asiainfo.p5.javaCore.reflect.BeanFactory"></bean>
	<bean id="springTest3" factory-bean="beanFactory" factory-method="getInstance"></bean>
	
	<context:component-scan base-package="com.asiainfo.p5.javaCore.reflect"></context:component-scan>
</beans>